body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(253, 170, 253);
  font-family: Arial, Helvetica, sans-serif;
}

.add-form {
  width: 90%;
  height: 55px;
  display: flex;
  background-color: rgb(116, 116, 255);
  border-radius: 3px;
  color: #fff;
  margin-top: 20px;
  box-shadow: 0 6px 6px 1px rgb(126, 125, 125), 6px 0 6px 1px rgb(126, 125, 125);
  transition: transform 0.6s;
}

.add-form:hover {
  transform: scale(1.1);
}

.add-form div {
  display: flex;
  align-items: center;
  width: 32%;
  margin: 10px;
}

.add-form-radio {
  width: 17px;
  height: 17px;
  margin: 0 10px;
}

.add-form-search-input {
  width: 350px;
  border: 0;
  outline: none;
  padding: 10px;
  border-radius: 5px;
}

.add-form button {
  width: 150px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  border: 0;
  margin: 0 10px;
}

.lists-conatiner {
  width: 95%;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  background-color: rgb(16, 16, 255);
  border-radius: 3px;
  color: #fff;
  margin-top: 20px;
  box-shadow: 0 8px 6px 1px rgb(126, 125, 125), 8px 0 6px 1px rgb(126, 125, 125);
  transition: transform 0.6s;
}

.lists-conatiner:hover {
  transform: scale(1.05);
}

.header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  margin: 0 50px;
}

.header div {
  height: 35px;
  display: flex;
  margin: 0 10px;
}

.header button {
  width: 130px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  border: 0;
  margin: 0 5px;
}

.header input {
  width: 250px;
  border: 0;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  transition: width 0.3s;
}

.header input:focus {
  width: 650px;
}

hr {
  width: 98%;
  height: 5px;
  border-radius: 20px;
  background-color: rgb(90, 78, 78);
  border: 0;
}

.lists {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.titles {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

h3 {
  width: 31%;
  text-shadow: 2px 4px rgb(76, 76, 76);
}

.list-fruits,
.list-both,
.list-legumes {
  width: 32%;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  padding-bottom: 10px;
  border-radius: 15px;
  border: #fff;
  background-color: rgb(213, 156, 22);
}

.list-fruits li,
.list-both li,
.list-legumes li {
  width: 95%;
  margin: 15px 15px 0 15px;
  padding: 0 10px;
  height: 65px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  font-weight: 600;
  background-color: rgb(69, 122, 169);
}

.list-fruits li:hover,
.list-both li:hover,
.list-legumes li:hover {
  text-shadow: 1px 1px rgb(76, 76, 76);
  box-shadow: 0 3px 5px 4px rgb(76, 76, 76);
}

.list-fruits li {
  background-color: rgb(231, 243, 253);
  color: rgb(231, 78, 78);
}

.list-both li {
  background-color: rgb(188, 201, 212);
  color: rgb(50, 69, 107);
}

.list-legumes li {
  background-color: rgb(115, 243, 132);
  color: rgb(229, 31, 31);
}

button:hover {
  opacity: 0.6;
}
